.a {
	
	
	background-color: #a83289;
	background-image: url("imag1.jpg");


	
}


.b {
	
	
	background-color: #32a893;
	background-image: url("imm.jpg")

}


.c {
	
	
	background-color: #f54b42;
		background-image: url("365073.jpg")

	
}



.d {
	
	
		border: 10px solid #34cceb;
		box-sizing: border-box;
		background-color: #d634eb;
		



}



