.a {
	
	
	background-color: #f54b42;
	
}


.b {
	
	
	background-color: #32a893;
	
}


.c {
	
	
	background-color: #a83289;
	
}


.d {
	
	
	background-color: #eb34ab;
	
}


.e {
	
	
	background-color: #eb5634;
	
}