.a {
	
	width: 40px;
	order: 2;
		float: right;

	
}



.b {
	
	width: 40px;
	order: 1;
		float: right;

	
}





.c {
	
	width: 40px;
	order: 3;
	
	
}



.d {
	
	width: 40px;
	order: 3;
	
	
}


.e {
	
	width: 40px;
	order: 3;
	
	
}


.f {
	
	width: 40px;
	order: 3;
	
	
}