



.a {
	
	
	background-color: #a83289;
	
}


.b {
	
	
	background-color: #32a893;
	
}


.c {
	
	
	background-color: #f54b42;
	
}


.d {
	
	
	background-color: #fcba03;
	
}




.e {
	
	
	background-color: #fc5603;
	
}




.f {
	
	
	background-color: #42f563;
	
}

