.a {
	
	
	background-color: #a83289;
	
}




.d {
	
	
		border: 2px solid #34cceb;
		box-sizing: border-box;
		background-color: #d634eb;



}


ul {
	list-style: none;
	
	
}

li {
	
		display: inline-block;

	
}

