.a {
	
	
	background-color: #a83289;
	
}


.b {
	
	
	background-color: #32a893;
	
}


.c {
	
	
	background-color: #f54b42;
	
}



.d {
	
	
		border: 2px solid #34cceb;
		box-sizing: border-box;
		background-color: #d634eb;



}



